body {
  margin: 80px;
  background-color: #FAFAFA;
  font-family: arial;
}

.page-title {
  grid-area: title;
  font-size: 30px;
  font-weight: bold;
  color: #4F4F4F;
  border-style: solid solid solid solid;
  border-color: #4F4F4F;
  border-width: thin;
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.covers {
  grid-area: covers;
}

.covers-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 30px;
}

.cover_thumb {
  width: 160px;
  box-shadow: 5px 5px 5px lightgrey;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'title title'
  'covers covers';
  justify-content: center;
  width: 100%;
}
